
.form {
    padding: 15px;
    padding-bottom: 46px;
    background: white;
    margin-top: 1em;
    box-shadow: 1px 1px 1px 1px cadetblue;
    border-radius: 15px;
}
#country{
    border-radius: 15px;
    padding: 0px 18px;
}
#city{
    border-radius: 15px;
    padding: 0px 18px;
}