<section class="form-sec">
  <div class="container form">
    <form [formGroup]="patientForm" class="form f-form">
      
        <label>Name : </label>
        <input type="text" formControlName="name" class="form-control"><br>
        <label>Country : </label>
        <select id="country" formControlName="country_id" [(ngModel)]="selectedCountries" #c (change)="onSelect(selectedCountries)">
          <option *ngFor="let c of countryArr" [ngValue]="c.id" >{{ c.name }}</option>
        </select><br>
        <label>City : </label>
        <select id="city" formControlName="city_id" [(ngModel)]="cityId" #c>
          <option *ngFor="let c of cityArr" [ngValue]="c.id" >{{ c.name }}</option>
        </select><br>

        <label>Date Of Birth : </label>
        <input
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dpYMD="bsDatepicker"
        bsDatepicker
        formControlName="date_of_birth"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
        <br>

        <label>Gender : </label><br>
        <input type="radio" value="male" formControlName="gender" [(ngModel)]="gender" (change)="displayQues()"> Male
        <input type="radio" value="female" formControlName="gender" [(ngModel)]="gender" (change)="displayQues()"> Female
        <br>
        <div id="male" style="display: none">
          <h4>this is a question for a male patient ?</h4>
          <input type="text" formControlName="male_question" class="form-control">
        </div>
        <div id="female" style="display: none">
          <h4>this is a question for a female patient ?</h4>
          <input type="text" formControlName="female_question" class="form-control">
        </div>
        <br>
        <button class="btn btn-primary pull-right"  (click)="onSubmit()" [disabled]="!patientForm.valid">Submit</button>
    </form>
  </div>
</section>

